@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: #0e7e12;
  padding-top: 10px;
}
.card {
  text-align: center;
  align-items: center;
  display: flex;
  margin: auto;
  height: 400px;
  width: 250px;
  padding-top: 140px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 75px;

  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 75px;
  }

  &::after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 75px;
  }

  &.spade::before,
  &.spade::after {
    content: "\2660";
  }
  &.club::before,
  &.club::after {
    content: "\2663";
  }
  &.heart::before,
  &.heart::after {
    content: "\2665";
    color: red;
  }
  &.diamond::before,
  &.diamond::after {
    content: "\2666";
    color: red;
  }
}
